.swiper-container[data-v-3d733b1c] {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-container-no-flexbox .swiper-slide[data-v-3d733b1c] {
  float: left;
}

.swiper-container-vertical > .swiper-wrapper[data-v-3d733b1c] {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.swiper-wrapper[data-v-3d733b1c] {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  box-sizing: content-box;
}

.swiper-container-android .swiper-slide[data-v-3d733b1c],
.swiper-wrapper[data-v-3d733b1c] {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.swiper-container-multirow > .swiper-wrapper[data-v-3d733b1c] {
  flex-wrap: wrap;
}

.swiper-container-free-mode > .swiper-wrapper[data-v-3d733b1c] {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-slide[data-v-3d733b1c] {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.swiper-slide-invisible-blank[data-v-3d733b1c] {
  visibility: hidden;
}

.swiper-container-autoheight .swiper-slide[data-v-3d733b1c],
.swiper-container-autoheight[data-v-3d733b1c] {
  height: auto;
}

.swiper-container-autoheight .swiper-wrapper[data-v-3d733b1c] {
  -webkit-box-align: start;
  align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}

.swiper-container-3d[data-v-3d733b1c] {
  -webkit-perspective: 1200px;
  perspective: 1200px;
}

.swiper-container-3d .swiper-cube-shadow[data-v-3d733b1c],
.swiper-container-3d .swiper-slide-shadow-bottom[data-v-3d733b1c],
.swiper-container-3d .swiper-slide-shadow-left[data-v-3d733b1c],
.swiper-container-3d .swiper-slide-shadow-right[data-v-3d733b1c],
.swiper-container-3d .swiper-slide-shadow-top[data-v-3d733b1c],
.swiper-container-3d .swiper-slide[data-v-3d733b1c],
.swiper-container-3d .swiper-wrapper[data-v-3d733b1c] {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-bottom[data-v-3d733b1c],
.swiper-container-3d .swiper-slide-shadow-left[data-v-3d733b1c],
.swiper-container-3d .swiper-slide-shadow-right[data-v-3d733b1c],
.swiper-container-3d .swiper-slide-shadow-top[data-v-3d733b1c] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-container-3d .swiper-slide-shadow-left[data-v-3d733b1c] {
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(rgba(0, 0, 0, 0.5)),
    to(transparent)
  );
  background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.5), transparent);
}

.swiper-container-3d .swiper-slide-shadow-right[data-v-3d733b1c] {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(0, 0, 0, 0.5)),
    to(transparent)
  );
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), transparent);
}

.swiper-container-3d .swiper-slide-shadow-top[data-v-3d733b1c] {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(0, 0, 0, 0.5)),
    to(transparent)
  );
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), transparent);
}

.swiper-container-3d .swiper-slide-shadow-bottom[data-v-3d733b1c] {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0.5)),
    to(transparent)
  );
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), transparent);
}

.swiper-container-wp8-horizontal > .swiper-wrapper[data-v-3d733b1c],
.swiper-container-wp8-horizontal[data-v-3d733b1c] {
  touch-action: pan-y;
}

.swiper-container-wp8-vertical > .swiper-wrapper[data-v-3d733b1c],
.swiper-container-wp8-vertical[data-v-3d733b1c] {
  touch-action: pan-x;
}

.swiper-button-next[data-v-3d733b1c],
.swiper-button-prev[data-v-3d733b1c] {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: 50%;
  background-repeat: no-repeat;
}

.swiper-button-next.swiper-button-disabled[data-v-3d733b1c],
.swiper-button-prev.swiper-button-disabled[data-v-3d733b1c] {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-prev[data-v-3d733b1c],
.swiper-container-rtl .swiper-button-next[data-v-3d733b1c] {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M0 22L22 0l2.1 2.1L4.2 22l19.9 19.9L22 44 0 22z' fill='%23007aff'/%3E%3C/svg%3E");
  left: 10px;
  right: auto;
}

.swiper-button-next[data-v-3d733b1c],
.swiper-container-rtl .swiper-button-prev[data-v-3d733b1c] {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M27 22L5 44l-2.1-2.1L22.8 22 2.9 2.1 5 0l22 22z' fill='%23007aff'/%3E%3C/svg%3E");
  right: 10px;
  left: auto;
}

.swiper-button-prev.swiper-button-white[data-v-3d733b1c],
.swiper-container-rtl .swiper-button-next.swiper-button-white[data-v-3d733b1c] {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M0 22L22 0l2.1 2.1L4.2 22l19.9 19.9L22 44 0 22z' fill='%23fff'/%3E%3C/svg%3E");
}

.swiper-button-next.swiper-button-white[data-v-3d733b1c],
.swiper-container-rtl .swiper-button-prev.swiper-button-white[data-v-3d733b1c] {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M27 22L5 44l-2.1-2.1L22.8 22 2.9 2.1 5 0l22 22z' fill='%23fff'/%3E%3C/svg%3E");
}

.swiper-button-prev.swiper-button-black[data-v-3d733b1c],
.swiper-container-rtl .swiper-button-next.swiper-button-black[data-v-3d733b1c] {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M0 22L22 0l2.1 2.1L4.2 22l19.9 19.9L22 44 0 22z'/%3E%3C/svg%3E");
}

.swiper-button-next.swiper-button-black[data-v-3d733b1c],
.swiper-container-rtl .swiper-button-prev.swiper-button-black[data-v-3d733b1c] {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M27 22L5 44l-2.1-2.1L22.8 22 2.9 2.1 5 0l22 22z'/%3E%3C/svg%3E");
}

.swiper-button-lock[data-v-3d733b1c] {
  display: none;
}

.swiper-pagination[data-v-3d733b1c] {
  position: absolute;
  text-align: center;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 10;
}

.swiper-pagination.swiper-pagination-hidden[data-v-3d733b1c] {
  opacity: 0;
}

.swiper-container-horizontal > .swiper-pagination-bullets[data-v-3d733b1c],
.swiper-pagination-custom[data-v-3d733b1c],
.swiper-pagination-fraction[data-v-3d733b1c] {
  bottom: 10px;
  left: 0;
  width: 100%;
}

.swiper-pagination-bullets-dynamic[data-v-3d733b1c] {
  overflow: hidden;
  font-size: 0;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet[data-v-3d733b1c] {
  -webkit-transform: scale(0.33);
  transform: scale(0.33);
  position: relative;
}

.swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet-active-main[data-v-3d733b1c],
.swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet-active[data-v-3d733b1c] {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet-active-prev[data-v-3d733b1c] {
  -webkit-transform: scale(0.66);
  transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet-active-prev-prev[data-v-3d733b1c] {
  -webkit-transform: scale(0.33);
  transform: scale(0.33);
}

.swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet-active-next[data-v-3d733b1c] {
  -webkit-transform: scale(0.66);
  transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet-active-next-next[data-v-3d733b1c] {
  -webkit-transform: scale(0.33);
  transform: scale(0.33);
}

.swiper-pagination-bullet[data-v-3d733b1c] {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2;
}

button.swiper-pagination-bullet[data-v-3d733b1c] {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet[data-v-3d733b1c] {
  cursor: pointer;
}

.swiper-pagination-bullet-active[data-v-3d733b1c] {
  opacity: 1;
  background: #007aff;
}

.swiper-container-vertical > .swiper-pagination-bullets[data-v-3d733b1c] {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}

.swiper-container-vertical
  > .swiper-pagination-bullets
  .swiper-pagination-bullet[data-v-3d733b1c] {
  margin: 6px 0;
  display: block;
}

.swiper-container-vertical
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic[data-v-3d733b1c] {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 8px;
}

.swiper-container-vertical
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet[data-v-3d733b1c] {
  display: inline-block;
  -webkit-transition: top 0.2s, -webkit-transform 0.2s;
  transition: top 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, top 0.2s;
  transition: transform 0.2s, top 0.2s, -webkit-transform 0.2s;
}

.swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet[data-v-3d733b1c] {
  margin: 0 4px;
}

.swiper-container-horizontal
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic[data-v-3d733b1c] {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  white-space: nowrap;
}

.swiper-container-horizontal
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet[data-v-3d733b1c] {
  -webkit-transition: left 0.2s, -webkit-transform 0.2s;
  transition: left 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, left 0.2s;
  transition: transform 0.2s, left 0.2s, -webkit-transform 0.2s;
}

.swiper-container-horizontal.swiper-container-rtl
  > .swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet[data-v-3d733b1c] {
  -webkit-transition: right 0.2s, -webkit-transform 0.2s;
  transition: right 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, right 0.2s;
  transition: transform 0.2s, right 0.2s, -webkit-transform 0.2s;
}

.swiper-pagination-progressbar[data-v-3d733b1c] {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
}

.swiper-pagination-progressbar
  .swiper-pagination-progressbar-fill[data-v-3d733b1c] {
  background: #007aff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left top;
  transform-origin: left top;
}

.swiper-container-rtl
  .swiper-pagination-progressbar
  .swiper-pagination-progressbar-fill[data-v-3d733b1c] {
  -webkit-transform-origin: right top;
  transform-origin: right top;
}

.swiper-container-horizontal > .swiper-pagination-progressbar[data-v-3d733b1c],
.swiper-container-vertical
  > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite[data-v-3d733b1c] {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}

.swiper-container-horizontal
  > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite[data-v-3d733b1c],
.swiper-container-vertical > .swiper-pagination-progressbar[data-v-3d733b1c] {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}

.swiper-pagination-white .swiper-pagination-bullet-active[data-v-3d733b1c] {
  background: #fff;
}

.swiper-pagination-progressbar.swiper-pagination-white[data-v-3d733b1c] {
  background: hsla(0, 0%, 100%, 0.25);
}

.swiper-pagination-progressbar.swiper-pagination-white
  .swiper-pagination-progressbar-fill[data-v-3d733b1c] {
  background: #fff;
}

.swiper-pagination-black .swiper-pagination-bullet-active[data-v-3d733b1c] {
  background: #000;
}

.swiper-pagination-progressbar.swiper-pagination-black[data-v-3d733b1c] {
  background: rgba(0, 0, 0, 0.25);
}

.swiper-pagination-progressbar.swiper-pagination-black
  .swiper-pagination-progressbar-fill[data-v-3d733b1c] {
  background: #000;
}

.swiper-pagination-lock[data-v-3d733b1c] {
  display: none;
}

.swiper-scrollbar[data-v-3d733b1c] {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1);
}

.swiper-container-horizontal > .swiper-scrollbar[data-v-3d733b1c] {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
}

.swiper-container-vertical > .swiper-scrollbar[data-v-3d733b1c] {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}

.swiper-scrollbar-drag[data-v-3d733b1c] {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0;
}

.swiper-scrollbar-cursor-drag[data-v-3d733b1c] {
  cursor: move;
}

.swiper-scrollbar-lock[data-v-3d733b1c] {
  display: none;
}

.swiper-zoom-container[data-v-3d733b1c] {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
}

.swiper-zoom-container > canvas[data-v-3d733b1c],
.swiper-zoom-container > img[data-v-3d733b1c],
.swiper-zoom-container > svg[data-v-3d733b1c] {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.swiper-slide-zoomed[data-v-3d733b1c] {
  cursor: move;
}

.swiper-lazy-preloader[data-v-3d733b1c] {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin-data-v-3d733b1c 1s steps(12) infinite;
  animation: swiper-preloader-spin-data-v-3d733b1c 1s steps(12) infinite;
}

.swiper-lazy-preloader[data-v-3d733b1c]:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='a' stroke='%236c6c6c' stroke-width='11' stroke-linecap='round' d='M60 7v20'/%3E%3C/defs%3E%3Cuse xlink:href='%23a' opacity='.27'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(30 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(60 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(90 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(120 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(150 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.37' transform='rotate(180 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.46' transform='rotate(210 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.56' transform='rotate(240 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.66' transform='rotate(270 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.75' transform='rotate(300 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.85' transform='rotate(330 60 60)'/%3E%3C/svg%3E");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.swiper-lazy-preloader-white[data-v-3d733b1c]:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='a' stroke='%23fff' stroke-width='11' stroke-linecap='round' d='M60 7v20'/%3E%3C/defs%3E%3Cuse xlink:href='%23a' opacity='.27'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(30 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(60 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(90 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(120 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(150 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.37' transform='rotate(180 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.46' transform='rotate(210 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.56' transform='rotate(240 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.66' transform='rotate(270 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.75' transform='rotate(300 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.85' transform='rotate(330 60 60)'/%3E%3C/svg%3E");
}

@-webkit-keyframes swiper-preloader-spin-data-v-3d733b1c {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

@keyframes swiper-preloader-spin-data-v-3d733b1c {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

.swiper-container .swiper-notification[data-v-3d733b1c] {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

.swiper-container-fade.swiper-container-free-mode
  .swiper-slide[data-v-3d733b1c] {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.swiper-container-fade .swiper-slide[data-v-3d733b1c] {
  pointer-events: none;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.swiper-container-fade .swiper-slide .swiper-slide[data-v-3d733b1c] {
  pointer-events: none;
}

.swiper-container-fade
  .swiper-slide-active
  .swiper-slide-active[data-v-3d733b1c],
.swiper-container-fade .swiper-slide-active[data-v-3d733b1c] {
  pointer-events: auto;
}

.swiper-container-cube[data-v-3d733b1c] {
  overflow: visible;
}

.swiper-container-cube .swiper-slide[data-v-3d733b1c] {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 100%;
  height: 100%;
}

.swiper-container-cube .swiper-slide .swiper-slide[data-v-3d733b1c] {
  pointer-events: none;
}

.swiper-container-cube.swiper-container-rtl .swiper-slide[data-v-3d733b1c] {
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

.swiper-container-cube
  .swiper-slide-active
  .swiper-slide-active[data-v-3d733b1c],
.swiper-container-cube .swiper-slide-active[data-v-3d733b1c] {
  pointer-events: auto;
}

.swiper-container-cube .swiper-slide-active[data-v-3d733b1c],
.swiper-container-cube .swiper-slide-next + .swiper-slide[data-v-3d733b1c],
.swiper-container-cube .swiper-slide-next[data-v-3d733b1c],
.swiper-container-cube .swiper-slide-prev[data-v-3d733b1c] {
  pointer-events: auto;
  visibility: visible;
}

.swiper-container-cube .swiper-slide-shadow-bottom[data-v-3d733b1c],
.swiper-container-cube .swiper-slide-shadow-left[data-v-3d733b1c],
.swiper-container-cube .swiper-slide-shadow-right[data-v-3d733b1c],
.swiper-container-cube .swiper-slide-shadow-top[data-v-3d733b1c] {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-container-cube .swiper-cube-shadow[data-v-3d733b1c] {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0;
}

.swiper-container-flip[data-v-3d733b1c] {
  overflow: visible;
}

.swiper-container-flip .swiper-slide[data-v-3d733b1c] {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}

.swiper-container-flip .swiper-slide .swiper-slide[data-v-3d733b1c] {
  pointer-events: none;
}

.swiper-container-flip
  .swiper-slide-active
  .swiper-slide-active[data-v-3d733b1c],
.swiper-container-flip .swiper-slide-active[data-v-3d733b1c] {
  pointer-events: auto;
}

.swiper-container-flip .swiper-slide-shadow-bottom[data-v-3d733b1c],
.swiper-container-flip .swiper-slide-shadow-left[data-v-3d733b1c],
.swiper-container-flip .swiper-slide-shadow-right[data-v-3d733b1c],
.swiper-container-flip .swiper-slide-shadow-top[data-v-3d733b1c] {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-container-coverflow .swiper-wrapper[data-v-3d733b1c] {
  -ms-perspective: 1200px;
}

/* 1차 삭제 */

/* 2차 삭제 */
.p-index-pagination[data-v-3d733b1c] {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 140px;
}

@media (max-width: 750px) {
  .p-index-pagination[data-v-3d733b1c] {
    height: 90px;
  }
}

.p-index-pagination[data-v-3d733b1c]:before {
  content: "";
  position: absolute;
  right: 0;
  top: -5px;
  left: 0;
  margin: auto;
  width: 1px;
  height: 25px;
  background-color: #b6b6b6;
}

@media (max-width: 750px) {
  .p-index-pagination[data-v-3d733b1c]:before {
    top: -10px;
    height: 20px;
  }
}

.p-index-pagination[data-v-3d733b1c]:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 1px;
  height: 10px;
  background-color: #b6b6b6;
}

.p-index-pagination__bg[data-v-3d733b1c] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1IDUiPjxwYXRoIGZpbGw9IiNjNmM2YzYiIGQ9Ik0yIDBoMXYxSDJ6Ii8+PC9zdmc+);
  background-position: 50%;
  background-size: 5px 5px;
}

.p-index-pagination__navigation[data-v-3d733b1c] {
  overflow: hidden;
  position: absolute;
  height: 12px;
  top: -25px;
  right: 0;
  left: 0;
  text-align: center;
}

@media (max-width: 750px) {
  .p-index-pagination__navigation[data-v-3d733b1c] {
    display: none;
  }
}

.p-index-pagination__navigation p[data-v-3d733b1c] {
  position: relative;
  font-size: 11px;
  line-height: 12px;
  color: rgba(0, 0, 0, 0.45);
  -webkit-animation: navigation_a-data-v-3d733b1c 6s
    cubic-bezier(0.77, 0, 0.175, 1) infinite;
  animation: navigation_a-data-v-3d733b1c 6s cubic-bezier(0.77, 0, 0.175, 1)
    infinite;
}

.p-index-pagination__navigation p[data-v-3d733b1c]:before {
  content: "Please select icon";
  display: block;
  position: absolute;
  bottom: -40px;
  right: 0;
  left: 0;
  -webkit-animation: navigation_b-data-v-3d733b1c 6s
    cubic-bezier(0.77, 0, 0.175, 1) infinite;
  animation: navigation_b-data-v-3d733b1c 6s cubic-bezier(0.77, 0, 0.175, 1)
    infinite;
}

@-webkit-keyframes navigation_a-data-v-3d733b1c {
  0%,
  70% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  to {
    -webkit-transform: translate3d(0, -40px, 0);
    transform: translate3d(0, -40px, 0);
  }
}

@keyframes navigation_a-data-v-3d733b1c {
  0%,
  70% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  to {
    -webkit-transform: translate3d(0, -40px, 0);
    transform: translate3d(0, -40px, 0);
  }
}

@-webkit-keyframes navigation_b-data-v-3d733b1c {
  0%,
  70% {
    -webkit-transform: rotate(30deg) skewX(30deg);
    transform: rotate(30deg) skewX(30deg);
  }

  to {
    -webkit-transform: rotate(0) skewX(0);
    transform: rotate(0) skewX(0);
  }
}

@keyframes navigation_b-data-v-3d733b1c {
  0%,
  70% {
    -webkit-transform: rotate(30deg) skewX(30deg);
    transform: rotate(30deg) skewX(30deg);
  }

  to {
    -webkit-transform: rotate(0) skewX(0);
    transform: rotate(0) skewX(0);
  }
}

.p-index-pagination__slider[data-v-3d733b1c] {
  padding: 23px 0 22px;
}

@media (max-width: 750px) {
  .p-index-pagination__slider[data-v-3d733b1c] {
    padding: 5px 0;
  }
}

.p-index-pagination__project-icon-link[data-v-3d733b1c] {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 95px;
  height: 95px;
  margin: auto;
}

@media (max-width: 750px) {
  .p-index-pagination__project-icon-link[data-v-3d733b1c] {
    width: 80px;
    height: 80px;
  }
}

.p-index-pagination__project-icon[data-v-3d733b1c] {
  width: 95px;
  height: 95px;
  margin: 0 10px;
  cursor: pointer;
}

@media (max-width: 750px) {
  .p-index-pagination__project-icon[data-v-3d733b1c] {
    width: 80px;
    height: 80px;
    margin: 0 5px;
  }
}

.p-index-pagination__project-icon img[data-v-3d733b1c] {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.p-index-pagination__project-icon[data-v-3d733b1c]:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
}

.p-index-pagination__project-icon.notification[data-v-3d733b1c]:before {
  content: "";
  position: absolute;
  top: 20px;
  right: 10px;
  display: block;
  width: 10px;
  height: 10px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTIgMTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTMgMTBWMmw2IDhWMiIgc3Ryb2tlPSIjRTE5OTcwIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0eWxlPSJhbmltYXRpb246eXR1cHZZTlNfZHJhd18wIDU1MDBtcyBlYXNlLW91dCAwbXMgaW5maW5pdGUseXR1cHZZTlNfZmFkZSA1NTAwbXMgbGluZWFyIDBtcyBpbmZpbml0ZSIgc3Ryb2tlLWRhc2hhcnJheT0iMjYgMjgiIHN0cm9rZS1kYXNob2Zmc2V0PSIyNyIvPjxzdHlsZSBkYXRhLW1hZGUtd2l0aD0idml2dXMtaW5zdGFudCI+QGtleWZyYW1lcyB5dHVwdllOU19kcmF3e3Rve3N0cm9rZS1kYXNob2Zmc2V0OjB9fUBrZXlmcmFtZXMgeXR1cHZZTlNfZmFkZXswJSw5MC45MDkwOTA5MDkwOTA5JXtzdHJva2Utb3BhY2l0eToxfXRve3N0cm9rZS1vcGFjaXR5OjB9fUBrZXlmcmFtZXMgeXR1cHZZTlNfZHJhd18wezAle3N0cm9rZS1kYXNob2Zmc2V0OjI3fTE4LjE4MTgxODE4MTgxODE4MyUsdG97c3Ryb2tlLWRhc2hvZmZzZXQ6MH19PC9zdHlsZT48L3N2Zz4=);
  background-position: 50%;
  background-size: cover;
}

@media (max-width: 750px) {
  .p-index-pagination__project-icon.notification[data-v-3d733b1c]:before {
    width: 8px;
    height: 8px;
  }
}

.not-touch-device
  .p-index-pagination__project-icon-link:hover
  + .swiper-wrapper
  .p-index-pagination__project-icon.swiper-slide-active
  img[data-v-3d733b1c],
.not-touch-device .p-index-pagination__project-icon:hover img[data-v-3d733b1c] {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
